@import 'bubble';

$header-height: 60px;

.openai-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: $header-height;
        padding: 0 20px;
        border-bottom: 1px solid var($line-color);
        user-select: none;

        .left {
            font-size: 20px;
            input {
                width: 250px;
                color: inherit;
                background-color: inherit;
                border: 0;
                outline: none;
            }
        }

        .right {
            display: flex;

            .icon {
                box-sizing: border-box;
                width: 34px;
                height: 34px;
                margin-left: 20px;
                padding: 6px;
                background-color: var($action-icon-bg);
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: var($action-icon-bg-hover);
                    transform: scale(0.9);
                }
            }
        }
    }

    .container {
        flex: 1;
        box-sizing: border-box;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        overflow: auto;
        scroll-behavior: smooth;
    }

    footer {
        box-sizing: border-box;
        width: 100%;
        border-top: 1px solid var($line-color);

        .toolbar {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            padding: 0 20px;

            .left {
                display: flex;
            }

            .right {
                display: flex;

                .icon {
                    box-sizing: border-box;
                    width: 30px;
                    height: 30px;
                    margin-left: 5px;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        transform: scale(0.9);
                    }
                }
            }
        }

        .send-box {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 200px;
            //border-top: 1px solid var($line-color);
            padding: 10px 0 10px;

            textarea {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                padding: 0 20px;
                color: inherit;
                line-height: 1.8;
                letter-spacing: 1px;
                background-color: transparent;
                border: 0;
                outline: none;
                resize: none;
            }

            .tip {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: var($tip-color);
                font-weight: 400;
                font-size: 14px;
                line-height: 1.8;
                letter-spacing: 2px;
                user-select: none;
                pointer-events: none;
            }
        }
    }
}

.openai-empty-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: var($tip-color);

    p {
        margin: 0;
        padding: 5px 0;
    }
}
