@font-face {
    font-family: LXGWNeoXiHei;
    src: url('../assets/fonts/LXGWNeoXiHei.ttf');
}

:root[theme='light'] {
    $primary: #9c88ff;
    $white: #ffffff;
    $black: #000000;
    $gray: #d6d3d1;

    // font
    #{$font-family}: LXGWNeoXiHei;
    #{$font-size}: 16px;
    #{$font-color}: $black;

    // line
    #{$line-color}: tint-color($black, 94%);

    // bg
    #{$bg}: $white;

    // nav
    #{$nav-bg}: $white;
    #{$nav-icon-hover-bg}: tint-color($black, 96%);
    #{$nav-icon-bg}: tint-color($primary, 40%);
    #{$nav-icon-selected-bg}: tint-color($primary, 5%);
    #{$nav-icon-color}: $white;

    // aside
    #{$aside-bg}: tint-color($black, 96%);
    #{$aside-header-icon-bg}: tint-color($black, 92%);
    #{$aside-header-icon-hover-bg}: tint-color($black, 88%);

    // action icon
    #{$action-icon-color}: tint-color($black, 30%);
    #{$action-icon-bg}: tint-color($black, 94%);
    #{$action-icon-bg-hover}: tint-color($black, 88%);

    // tip
    #{$tip-color}: tint-color($black, 60%);

    // component checkbox
    #{$checkbox-line-color}: tint-color($black, 70%);
    #{$checkbox-hover-line-color}: $primary;
    #{$checkbox-hover-bg}: tint-color($primary, 90%);
    #{$checkbox-checked-bg}: $primary;

    // component btn
    #{$btn-line-color}: tint-color($black, 80%);
    #{$btn-hover-line-color}: $primary;

    // compnent session
    #{$session-hover-bg}: tint-color($black, 90%);
    #{$session-desc-color}: tint-color($black, 40%);
    #{$session-active-bg}: $primary;
    #{$session-active-title-color}: $white;
    #{$session-active-desc-color}: tint-color($black, 94%);

    // component inputz
    #{$inputz-label-color}: tint-color($black, 40%);
    #{$inputz-hover-label-color}: tint-color($primary, 20%);
    #{$inputz-line-color}: tint-color($black, 80%);
    #{$inputz-hover-line-color}: tint-color($primary, 20%);

    // component selectz
    #{$selectz-label-color}: tint-color($black, 40%);
    #{$selectz-hover-label-color}: tint-color($primary, 20%);
    #{$selectz-line-color}: tint-color($black, 80%);
    #{$selectz-hover-line-color}: tint-color($primary, 20%);

    // openai bubble
    #{$bubble-hover-bg}: tint-color($black, 92%);

    // markdown
    #{$md-font-family}: LXGWNeoXiHei;
    #{$md-font-size}: 16px;
    #{$md-background-color}: transparent;
    #{$md-color}: $black;
    #{$md-a-color}: $primary;
    #{$md-mark-background-color}: #fff8c5;
    #{$md-mark-color}: $black;
    #{$md-img-background-color}: $white;
    #{$md-hr-background-color}: tint-color($primary, 20%);
    #{$md-placeholder-color}: tint-color($black, 40%);
    #{$md-line-color}: tint-color($black, 80%);
    #{$md-outline-line-color}: tint-color($primary, 20%);
    #{$md-kbd-font-family}: LXGWNeoXiHei;
    #{$md-kbd-font-size}: 11px;
    #{$md-kbd-font-color}: tint-color($black, 20%);
    #{$md-kbd-background-color}: tint-color($black, 80%);
    #{$md-kbd-line-color}: tint-color($black, 80%);
    #{$md-h6-color}: $black;
    #{$md-blockquote-color}: tint-color($black, 20%);
    #{$md-blockquote-background-color}: tint-color($primary, 80%);
    #{$md-blockquote-line-color}: $primary;
    #{$md-pre-background-color}: tint-color($black, 94%);
    #{$md-code-font-family}: LXGWNeoXiHei;
    #{$md-code-font-size}: 12px;
    #{$md-code-background-color}: tint-color($primary, 90%);
    #{$md-table-line-color}: tint-color($black, 80%);
    #{$md-table-odd-background-color}: transparent;
    #{$md-table-even-background-color}: transparent;

    #{$md-pre-language-color}: tint-color($black, 60%);

    #{$hljs-keyword-color}: #d73a49;
    #{$hljs-title-color}: #6f42c1;
    #{$hljs-attr-color}: #005cc5;
    #{$hljs-meta-color}: #032f62;
    #{$hljs-symbol-color}: #e36209;
    #{$hljs-code-color}: #6a737d;
    #{$hljs-name-color}: #22863a;
    #{$hljs-subst-color}: #24292e;
    #{$hljs-section-color}: #005cc5;
    #{$hljs-bullet-color}: #735c0f;
    #{$hljs-emphasis-color}: #24292e;
    #{$hljs-strong-color}: #24292e;
    #{$hljs-addition-color}: #22863a;
    #{$hljs-addition-background-color}: #f0fff4;
    #{$hljs-deletion-color}: #b31d28;
    #{$hljs-deletion-background-color}: #ffeef0;
}
