:root[theme='dark'] {
    --font-color: #f5f5f5;
    --primary-color: 0, 154, 255;
    --border-color: 74, 74, 74;
    --aside-bg-color: 74, 74, 74;
    --article-bg-color: 60, 60, 60;
    --modal-bg-color: 45, 45, 45;
    --inputx-bg-color: 34, 34, 34;
    --sidebar-bg-color: 60, 60, 60;
    --icon-bg-color: 60, 60, 60;
    --icon-hover-bg-color: 34, 34, 34;
    --empty-font-color: 156, 163, 175;
    --bubble-hover-bg-color: 50, 50, 50;
    --bubble-icon-hover-bg-color: 34, 34, 34;
    --code-bg-color: 34, 34, 34;
    --preset-bg-color: 74, 74, 74;
    --preset-item-bg-color: 57, 79, 99;
    --list-item-desc-color: 209, 213, 219;
    --session-hover-bg-color: 60, 60, 60;
    --session-time-color: 209, 213, 219;
    --session-bottom-color: 209, 213, 219;
    --session-icon-bg-color: 50, 50, 50;

    .markdown-body {
        pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}
        .hljs{color:#c9d1d9;background:#0d1117}.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#ff7b72}.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#d2a8ff}.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#79c0ff}.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#a5d6ff}.hljs-built_in,.hljs-symbol{color:#ffa657}.hljs-code,.hljs-comment,.hljs-formula{color:#8b949e}.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#7ee787}.hljs-subst{color:#c9d1d9}.hljs-section{color:#1f6feb;font-weight:700}.hljs-bullet{color:#f2cc60}.hljs-emphasis{color:#c9d1d9;font-style:italic}.hljs-strong{color:#c9d1d9;font-weight:700}.hljs-addition{color:#aff5b4;background-color:#033a16}.hljs-deletion{color:#ffdcd7;background-color:#67060c}
    }
}

// 50 - 249, 250, 251     74, 74, 74
// 100 - 243, 244, 246    60, 60, 60
// 200 - 229, 231, 235    50, 50, 50
// 300 - 209, 213, 219    45, 45, 45
// 400 - 156, 163, 175    34, 34, 34
// 500 - 107, 114, 128    31, 31, 31
// 600 - 75, 85, 99       28, 28, 30
