@import "variables";

:root[theme='dark'] {
    --font-color: #f5f5f5;
    --primary-color: 0, 154, 255;
    --border-color: 74, 74, 74;
    --aside-bg-color: 74, 74, 74;
    --article-bg-color: 60, 60, 60;
    --modal-bg-color: 45, 45, 45;
    --inputx-bg-color: 34, 34, 34;
    --sidebar-bg-color: 60, 60, 60;
    --icon-bg-color: 60, 60, 60;
    --icon-hover-bg-color: 34, 34, 34;
    --empty-font-color: 156, 163, 175;
    --bubble-hover-bg-color: 50, 50, 50;
    --bubble-icon-hover-bg-color: 34, 34, 34;
    --code-bg-color: 34, 34, 34;
    --preset-bg-color: 74, 74, 74;
    --preset-item-bg-color: 57, 79, 99;
    --list-item-desc-color: 209, 213, 219;
    --session-hover-bg-color: 60, 60, 60;
    --session-time-color: 209, 213, 219;
    --session-bottom-color: 209, 213, 219;
    --session-icon-bg-color: 50, 50, 50;

    #{$md-font-family}: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    #{$md-font-size}: 16px;
    #{$md-background-color}: transparent;
    #{$md-color}: #c9d1d9;
    #{$md-a-color}: rgb(var(--primary-color));
    #{$md-mark-background-color}: rgba(187,128,9,0.15);
    #{$md-mark-color}: #c9d1d9;
    #{$md-img-background-color}: #0d1117;
    #{$md-hr-background-color}: rgba(var(--primary-color), 0.2);
    #{$md-placeholder-color}: #6e7681;
    #{$md-line-color}: #21262d;
    #{$md-outline-line-color}: #6e7681;
    #{$md-kbd-font-family}: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    #{$md-kbd-font-size}: 11px;
    #{$md-kbd-font-color}: #c9d1d9;
    #{$md-kbd-background-color}: #161b22;
    #{$md-kbd-line-color}: rgba(110,118,129,0.4);
    #{$md-h6-color}: #8b949e;
    #{$md-blockquote-color}: #ddd;
    #{$md-blockquote-background-color}: rgba(var(--primary-color), 0.1);
    #{$md-blockquote-line-color}: rgba(var(--primary-color), 0.6);
    #{$md-pre-background-color}: rgba(34, 34, 34, 0.5);
    #{$md-code-font-family}: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    #{$md-code-font-size}: 12px;
    #{$md-code-background-color}: rgba(110,118,129,0.4);
    #{$md-table-line-color}: #747474;
    #{$md-table-odd-background-color}: transparent;
    #{$md-table-even-background-color}: transparent;

    #{$hljs-keyword-color}: #ff7b72;
    #{$hljs-title-color}: #d2a8ff;
    #{$hljs-attr-color}: #79c0ff;
    #{$hljs-meta-color}: #a5d6ff;
    #{$hljs-symbol-color}: #ffa657;
    #{$hljs-code-color}: #8b949e;
    #{$hljs-name-color}: #7ee787;
    #{$hljs-subst-color}: #c9d1d9;
    #{$hljs-section-color}: #1f6feb;
    #{$hljs-bullet-color}: #f2cc60;
    #{$hljs-emphasis-color}: #c9d1d9;
    #{$hljs-strong-color}: #c9d1d9;
    #{$hljs-addition-color}: #aff5b4;
    #{$hljs-addition-background-color}: #033a16;
    #{$hljs-deletion-color}: #ffdcd7;
    #{$hljs-deletion-background-color}: #67060c;
}

