@import 'functions';
@import 'variables';
@import 'light';
@import 'dark';
@import 'normalize';
@import 'components';
@import 'layouts';
@import 'views';
@import 'markdown';

body {
    display: flex;
    box-sizing: border-box;
    width: 100%;

    height: 100vh;
    color: var($font-color);
    font-size: var($font-size);
    font-family: var($font-family);
    background-color: var($bg);
    border-top: 1px solid var($line-color);
    font-width: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    caret-color: var($font-color);

    text-rendering: optimizeLegibility;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.icon {
    color: var($action-icon-color);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
