:root[theme='light'] {
    --font-color: #0f0f0f;
    --primary-color: 0, 154, 255;
    --border-color: 229, 231, 235;
    --aside-bg-color: 249, 250, 251;
    --article-bg-color: 242, 242, 242;
    --modal-bg-color: 255, 255, 255;
    --sidebar-bg-color: 243, 244, 246;
    --icon-bg-color: 243, 244, 246;
    --icon-hover-bg-color: 229, 231, 235;
    --empty-font-color: 156, 163, 175;
    --bubble-hover-bg-color: 229, 231, 235;
    --bubble-icon-hover-bg-color: 209, 213, 219;
    --code-bg-color: 209, 213, 219;
    --preset-bg-color: 249, 250, 251;
    --preset-item-bg-color: 223, 233, 243;
    --list-item-desc-color: 107, 114, 128;
    --session-hover-bg-color: 243, 244, 246;
    --session-time-color: 156, 163, 175;
    --session-bottom-color: 107, 114, 128;
    --session-icon-bg-color: 229, 231, 235;
}
