.markdown-body {
    box-sizing: border-box;
    margin: 0;
    color: var($md-color);
    font-size: var($md-font-size);
    font-family: var($md-font-family);
    line-height: 1.5;
    word-wrap: break-word;
    background-color: var($md-background-color);
    will-change: height;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    &::before {
        content: '';
        display: table;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }

    & > *:first-child {
        margin-top: 0 !important;
    }

    & > *:last-child {
        margin-bottom: 0 !important;
    }

    &::-webkit-calendar-picker-indicator {
        filter: invert(50%);
    }

    details,
    details,
    figure {
        display: block;
    }

    summary {
        display: list-item;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: inline-block;
        }

        h1,
        h2 {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    [hidden] {
        display: none !important;
    }

    a {
        margin: 0 0.2em;
        color: var($md-a-color);
        text-decoration: none;
        background-color: transparent;

        &:hover {
            text-decoration: underline;
        }

        &:not([href]) {
            color: inherit;
            text-decoration: none;
        }
    }

    abbr[title] {
        text-decoration: underline dotted;
        border-bottom: none;
    }

    b,
    strong {
        font-weight: 600;
    }

    dfn {
        font-style: italic;
    }

    h1 {
        margin: 0.67em 0;
        padding-bottom: 0.3em;
        font-weight: 600;
        font-size: 2em;
    }

    mark {
        color: var($md-mark-color);
        background-color: var($md-mark-background-color);
    }

    small {
        font-size: 90%;
    }

    sub,
    sup {
        position: relative;
        font-size: 75%;
        line-height: 0;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    img {
        box-sizing: content-box;
        max-width: 400px;
        background-color: var($md-img-background-color);
        border-style: none;
    }

    code,
    kbd,
    pre,
    samp {
        font-size: 1em;
        font-family: monospace;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    figure {
        margin: 1em 40px;
    }

    hr {
        box-sizing: content-box;
        height: 0.1em;
        margin: 24px 0;
        padding: 0;
        overflow: hidden;
        background-color: var($md-hr-background-color);
        border: 0;

        &::before {
            content: '';
            display: table;
        }

        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }

    input {
        margin: 0;
        overflow: visible;
        font: inherit;
        line-height: inherit;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;
            -webkit-appearance: none;
            appearance: none;
        }
    }

    [type='button'],
    [type='reset'],
    [type='submit'] {
        -webkit-appearance: button;
    }

    [type='checkbox'],
    [type='radio'] {
        box-sizing: border-box;
        padding: 0;
    }

    [type='number']::-webkit-inner-spin-button,
    [type='number']::-webkit-outer-spin-button {
        height: auto;
    }

    [type='search']::-webkit-search-cancel-button,
    [type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    ::-webkit-input-placeholder {
        color: inherit;
        opacity: 0.54;
    }

    ::-webkit-file-upload-button {
        font: inherit;
        -webkit-appearance: button;
    }

    ::placeholder {
        color: var($md-placeholder-color);
        opacity: 1;
    }

    table {
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        border-collapse: collapse;
        border-spacing: 0;
    }

    td,
    th {
        padding: 0;
    }

    details {
        &:not([open]) > *:not(summary) {
            display: none !important;
        }

        summary {
            cursor: pointer;
        }
    }

    a:focus,
    [role='button']:focus,
    input[type='radio']:focus,
    input[type='checkbox']:focus {
        outline: 2px solid var($md-outline-line-color);
        outline-offset: -2px;
        box-shadow: none;
    }

    a:focus:not(:focus-visible),
    [role='button']:focus:not(:focus-visible),
    input[type='radio']:focus:not(:focus-visible),
    input[type='checkbox']:focus:not(:focus-visible) {
        outline: solid 1px transparent;
    }

    a:focus-visible,
    [role='button']:focus-visible,
    input[type='radio']:focus-visible,
    input[type='checkbox']:focus-visible {
        outline: 2px solid var($md-outline-line-color);
        outline-offset: -2px;
        box-shadow: none;
    }

    a:not([class]):focus,
    a:not([class]):focus-visible,
    input[type='radio']:focus,
    input[type='radio']:focus-visible,
    input[type='checkbox']:focus,
    input[type='checkbox']:focus-visible {
        outline-offset: 0;
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        color: var($md-kbd-font-color);
        font-size: var($md-kbd-font-size);
        font-family: var($md-kbd-font-family);
        line-height: 10px;
        vertical-align: middle;
        background-color: var($md-kbd-background-color);
        border: solid 1px var($md-kbd-line-color);
        border-radius: 6px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;

        tt,
        code {
            padding: 0 0.2em;
            font-size: inherit;
        }
    }

    h2 {
        padding-bottom: 0.3em;
        font-weight: 600;
        font-size: 1.5em;
    }

    h3 {
        font-weight: 600;
        font-size: 1.25em;
    }

    h4 {
        font-weight: 600;
        font-size: 1em;
    }

    h5 {
        font-weight: 600;
        font-size: 0.875em;
    }

    h6 {
        color: var($md-h6-color);
        font-weight: 600;
        font-size: 0.85em;
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    blockquote {
        margin: 1em 0 !important;
        padding: 1em;
        color: var($md-blockquote-color);
        background-color: var($md-blockquote-background-color);
        border-left: 0.25em solid var($md-blockquote-line-color);

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;
    }

    ol ol,
    ul ol {
        list-style-type: lower-roman;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul ul ol,
    ul ol ol,
    ol ul ol,
    ol ol ol {
        list-style-type: lower-alpha;
    }

    ol[type='a'] {
        list-style-type: lower-alpha;
    }

    ol[type='A'] {
        list-style-type: upper-alpha;
    }

    ol[type='i'] {
        list-style-type: lower-roman;
    }

    ol[type='I'] {
        list-style-type: upper-roman;
    }

    ol[type='1'] {
        list-style-type: decimal;
    }

    div > ol:not([type]) {
        list-style-type: decimal;
    }

    li > p {
        margin-top: 16px;
    }

    li + li {
        margin-top: 0.25em;
    }

    dl {
        padding: 0;

        dt {
            margin-top: 16px;
            padding: 0;
            font-weight: 600;
            font-size: 1em;
            font-style: italic;
        }

        dd {
            margin-bottom: 16px;
            padding: 0 16px;
        }
    }

    dd {
        margin-left: 0;
    }

    tt,
    code,
    samp {
        //font-family: var($md-code-font-family);
        font-size: var($md-code-font-size);
    }

    samp {
        font-size: 85%;
    }

    code,
    tt {
        margin: 0 0.2em;
        padding: 0.1em 0.4em;
        font-size: 85%;
        white-space: break-spaces;
        background-color: var($md-code-background-color);
        border-radius: 4px;

        br {
            display: none;
        }
    }

    pre {
        position: relative;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        word-wrap: normal;
        border-radius: 6px;

        /* tooltip settings 👇 */

        .language {
            position: absolute;
            top: 16px;
            right: 16px;
            color: var($md-pre-language-color);
            font-weight: bolder;
        }

        code {
            margin: 0;
            padding: 0;
            font-size: 100%;
            white-space: pre;
            word-break: normal;
            background: transparent;
            border: 0;
        }

        code,
        tt {
            display: inline;
            width: max-content;
            margin: 0;
            padding: 0;
            overflow: visible;
            line-height: inherit;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
        }
    }

    del code {
        text-decoration: inherit;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    details {
        margin-top: 0;
        margin-bottom: 16px;
    }

    table {
        th {
            padding: 6px 13px;
            font-weight: 600;
            border: 1px solid var($md-table-line-color);
        }

        td {
            padding: 6px 13px;
            border: 1px solid var($md-table-line-color);
        }

        tr {
            background-color: var($md-table-odd-background-color);
            border-top: 1px solid var($md-line-color);

            &:nth-child(2n) {
                background-color: var($md-table-even-background-color);
            }
        }

        img {
            background-color: transparent;
        }

        img[align='right'] {
            padding-left: 20px;
        }

        img[align='left'] {
            padding-right: 20px;
        }
    }

    // 代码高亮
    pre {
        background-color: var($md-pre-background-color);

        .hljs {
            display: block;
            width: 100%;
            white-space: pre-wrap;
            word-wrap: break-word;

            //overflow-x: auto;

            .hljs-doctag,
            .hljs-keyword,
            .hljs-meta .hljs-keyword,
            .hljs-template-tag,
            .hljs-template-variable,
            .hljs-type,
            .hljs-variable.language_ {
                color: var($hljs-keyword-color);
            }

            .hljs-title,
            .hljs-title.class_,
            .hljs-title.class_.inherited__,
            .hljs-title.function_ {
                color: var($hljs-title-color);
            }
            .hljs-attr,
            .hljs-attribute,
            .hljs-literal,
            .hljs-meta,
            .hljs-number,
            .hljs-operator,
            .hljs-selector-attr,
            .hljs-selector-class,
            .hljs-selector-id,
            .hljs-variable {
                color: var($hljs-attr-color);
            }
            .hljs-meta .hljs-string,
            .hljs-regexp,
            .hljs-string {
                color: var($hljs-meta-color);
            }
            .hljs-built_in,
            .hljs-symbol {
                color: var($hljs-symbol-color);
            }
            .hljs-code,
            .hljs-comment,
            .hljs-formula {
                color: var($hljs-code-color);
            }
            .hljs-name,
            .hljs-quote,
            .hljs-selector-pseudo,
            .hljs-selector-tag {
                color: var($hljs-name-color);
            }
            .hljs-subst {
                color: var($hljs-subst-color);
            }
            .hljs-section {
                color: var($hljs-section-color);
                font-weight: 700;
            }
            .hljs-bullet {
                color: var($hljs-bullet-color);
            }
            .hljs-emphasis {
                color: var($hljs-emphasis-color);
                font-style: italic;
            }
            .hljs-strong {
                color: var($hljs-strong-color);
                font-weight: 700;
            }
            .hljs-addition {
                color: var($hljs-addition-color);
                background-color: var($hljs-addition-background-color);
            }
            .hljs-deletion {
                color: var($hljs-deletion-color);
                background-color: var($hljs-deletion-background-color);
            }
        }
    }
}
