.markdown-body {
    will-change: height;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word;
    color: var($md-color);
    background-color: var($md-background-color);
    font-family: var($md-font-family);
    font-size: var($md-font-size);

    &::before {
        display: table;
        content: "";
    }

    &::after {
        display: table;
        clear: both;
        content: "";
    }

    &>*:first-child {
        margin-top: 0 !important;
    }

    &>*:last-child {
        margin-bottom: 0 !important;
    }

    &::-webkit-calendar-picker-indicator {
        filter: invert(50%);
    }


    details, details, figure {
        display: block;
    }

    summary {
        display: list-item;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: inline-block;
        }

        h1, h2 {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    [hidden] {
        display: none !important;
    }

    a {
        background-color: transparent;
        text-decoration: none;
        color: var($md-a-color);

        &:hover {
            text-decoration: underline;
        }

        &:not([href]) {
            color: inherit;
            text-decoration: none;
        }
    }

    abbr[title] {
        border-bottom: none;
        text-decoration: underline dotted;
    }

    b, strong {
        font-weight: 600;
    }

    dfn {
        font-style: italic;
    }

    h1 {
        margin: .67em 0;
        font-weight: 600;
        padding-bottom: .3em;
        font-size: 2em;
    }

    mark {
        background-color: var($md-mark-background-color);
        color: var($md-mark-color);
    }

    small {
        font-size: 90%;
    }

    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    img {
        border-style: none;
        max-width: 100%;
        box-sizing: content-box;
        background-color: var($md-img-background-color);
    }

    code, kbd, pre, samp {
        font-family: monospace;
        font-size: 1em;
    }

    figure {
        margin: 1em 40px;
    }

    hr {
        box-sizing: content-box;
        overflow: hidden;
        height: .1em;
        padding: 0;
        border: 0;
        margin: 24px 0;
        background-color: var($md-hr-background-color);

        &::before {
            display: table;
            content: "";
        }

        &::after {
            display: table;
            clear: both;
            content: "";
        }


    }

    input {
        font: inherit;
        margin: 0;
        overflow: visible;
        line-height: inherit;


        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;
            -webkit-appearance: none;
            appearance: none;
        }
    }

    [type=button], [type=reset], [type=submit] {
        -webkit-appearance: button;
    }

    [type=checkbox], [type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    [type=number]::-webkit-inner-spin-button,
    [type=number]::-webkit-outer-spin-button {
        height: auto;
    }

    [type=search]::-webkit-search-cancel-button,
    [type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    ::-webkit-input-placeholder {
        color: inherit;
        opacity: .54;
    }

    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
    }

    ::placeholder {
        opacity: 1;
        color: var($md-placeholder-color);
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
    }

    td, th {
        padding: 0;
    }

    details {

        &:not([open])>*:not(summary) {
            display: none !important;
        }

        summary {
            cursor: pointer;
        }
    }

    a:focus,
    [role=button]:focus,
    input[type=radio]:focus,
    input[type=checkbox]:focus {
        outline-offset: -2px;
        box-shadow: none;
        outline: 2px solid var($md-outline-line-color);
    }

    a:focus:not(:focus-visible),
    [role=button]:focus:not(:focus-visible),
    input[type=radio]:focus:not(:focus-visible),
    input[type=checkbox]:focus:not(:focus-visible) {
        outline: solid 1px transparent;
    }

    a:focus-visible,
    [role=button]:focus-visible,
    input[type=radio]:focus-visible,
    input[type=checkbox]:focus-visible {
        outline-offset: -2px;
        box-shadow: none;
        outline: 2px solid var($md-outline-line-color);
    }

    a:not([class]):focus,
    a:not([class]):focus-visible,
    input[type=radio]:focus,
    input[type=radio]:focus-visible,
    input[type=checkbox]:focus,
    input[type=checkbox]:focus-visible {
        outline-offset: 0;
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        line-height: 10px;
        vertical-align: middle;
        border-radius: 6px;
        font-family: var($md-kbd-font-family);
        font-size: var($md-kbd-font-size);
        color: var($md-kbd-font-color);
        background-color: var($md-kbd-background-color);
        border: solid 1px var($md-kbd-line-color);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;

        tt, code {
            padding: 0 .2em;
            font-size: inherit;
        }
    }

    h2 {
        font-weight: 600;
        padding-bottom: .3em;
        font-size: 1.5em;
    }

    h3 {
        font-weight: 600;
        font-size: 1.25em;
    }

    h4 {
        font-weight: 600;
        font-size: 1em;
    }

    h5 {
        font-weight: 600;
        font-size: .875em;
    }

    h6 {
        font-weight: 600;
        font-size: .85em;
        color: var($md-h6-color);
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    blockquote {
        margin: 0;
        padding: 0 0 0 1em;
        color: var($md-blockquote-color);
        background-color: var($md-blockquote-background-color);
        border-left: .25em solid var($md-blockquote-line-color);

        &>:first-child {
            margin-top: 0;
        }

        &>:last-child {
            margin-bottom: 0;
        }


    }

    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;
    }

    ol ol, ul ol {
        list-style-type: lower-roman;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul ul ol,
    ul ol ol,
    ol ul ol,
    ol ol ol {
        list-style-type: lower-alpha;
    }

    ol[type=a] {
        list-style-type: lower-alpha;
    }

    ol[type=A] {
        list-style-type: upper-alpha;
    }

    ol[type=i] {
        list-style-type: lower-roman;
    }

    ol[type=I] {
        list-style-type: upper-roman;
    }

    ol[type="1"] {
        list-style-type: decimal;
    }

    div>ol:not([type]) {
        list-style-type: decimal;
    }

    li>p {
        margin-top: 16px;
    }

    li+li {
        margin-top: .25em;
    }

    dl {
        padding: 0;

        dt {
            padding: 0;
            margin-top: 16px;
            font-size: 1em;
            font-style: italic;
            font-weight: 600;
        }

        dd {
            padding: 0 16px;
            margin-bottom: 16px;
        }
    }


    dd {
        margin-left: 0;
    }

    tt, code, samp {
        //font-family: var($md-code-font-family);
        font-size: var($md-code-font-size);
    }

    samp {
        font-size: 85%;
    }

    code, tt {
        padding: .1em .2em;
        margin: 0 .2em;
        font-size: 85%;
        white-space: break-spaces;
        border-radius: 2px;
        background-color: var($md-code-background-color);
        vertical-align: text-top;

        br {
            display: none;
        }
    }

    pre {
        margin-top: 0;
        margin-bottom: 0;
        word-wrap: normal;
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        border-radius: 6px;

        code {
            padding: 0;
            margin: 0;
            border: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            background: transparent;
        }

        code, tt {
            display: inline;
            width: max-content;
            padding: 0;
            margin: 0;
            overflow: visible;
            line-height: inherit;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
        }


    }

    del code {
        text-decoration: inherit;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    details {
        margin-top: 0;
        margin-bottom: 16px;
    }

    table {

        th {
            font-weight: 600;
            padding: 6px 13px;
            border: 1px solid var($md-table-line-color);
        }

        td {
            padding: 6px 13px;
            border: 1px solid var($md-table-line-color);
        }

        tr {
            border-top: 1px solid var($md-line-color);
            background-color: var($md-table-odd-background-color);

            &:nth-child(2n) {
                background-color: var($md-table-even-background-color);
            }
        }

        img {
            background-color: transparent;
        }

        img[align=right] {
            padding-left: 20px;
        }

        img[align=left] {
            padding-right: 20px;
        }

    }


    // 代码高亮
    .code-container {
        display: flex;
        flex-direction: column;
        background-color: var($md-pre-background-color);

        margin: 16px 0;

        .code-header {
            display: flex;
            justify-content: space-between;
            padding: 10px 16px 0;
            user-select: none;

            &:hover {
                .action {
                    opacity: 0.8;
                }
            }

            .title {
                opacity: 0.4;
            }

            .action {
                transition: opacity 0.4s linear;
                opacity: 0.4;

                .button {
                    cursor: pointer;
                    vertical-align: middle;

                    svg {
                        pointer-events: none;
                    }
                }
            }
        }
        .code-body {
            .hljs {
                display: block;

                //overflow-x: auto;

                .hljs-doctag,
                .hljs-keyword,
                .hljs-meta .hljs-keyword,
                .hljs-template-tag,
                .hljs-template-variable,
                .hljs-type,
                .hljs-variable.language_ {
                    color: var($hljs-keyword-color);
                }

                .hljs-title,
                .hljs-title.class_,
                .hljs-title.class_.inherited__,
                .hljs-title.function_ {
                    color: var($hljs-title-color);
                }
                .hljs-attr,
                .hljs-attribute,
                .hljs-literal,
                .hljs-meta,
                .hljs-number,
                .hljs-operator,
                .hljs-selector-attr,
                .hljs-selector-class,
                .hljs-selector-id,
                .hljs-variable {
                    color: var($hljs-attr-color);
                }
                .hljs-meta .hljs-string,
                .hljs-regexp,
                .hljs-string {
                    color: var($hljs-meta-color);
                }
                .hljs-built_in,
                .hljs-symbol {
                    color: var($hljs-symbol-color);
                }
                .hljs-code,
                .hljs-comment,
                .hljs-formula {
                    color: var($hljs-code-color);
                }
                .hljs-name,
                .hljs-quote,
                .hljs-selector-pseudo,
                .hljs-selector-tag {
                    color: var($hljs-name-color);
                }
                .hljs-subst {
                    color: var($hljs-subst-color);
                }
                .hljs-section {
                    color: var($hljs-section-color);
                    font-weight: 700;
                }
                .hljs-bullet {
                    color: var($hljs-bullet-color);
                }
                .hljs-emphasis {
                    color: var($hljs-emphasis-color);
                    font-style: italic;
                }
                .hljs-strong {
                    color: var($hljs-strong-color);
                    font-weight: 700;
                }
                .hljs-addition {
                    color: var($hljs-addition-color);
                    background-color: var($hljs-addition-background-color);
                }
                .hljs-deletion {
                    color: var($hljs-deletion-color);
                    background-color: var($hljs-deletion-background-color);
                }
            }
        }
    }
}