$prefix: --app;

// font
$font-family: #{$prefix}-font-family;
$font-size: #{$prefix}-font-size;
$font-color: #{$prefix}-font-color;

// line
$line-color: #{$prefix}-line-color;

// bg
$bg: #{$prefix}-bg;

// nav
$nav-bg: #{$prefix}-nav-bg;
$nav-icon-hover-bg: #{$prefix}-nav-icon-hover-bg;
$nav-icon-bg: #{$prefix}-nav-icon-bg;
$nav-icon-selected-bg: #{$prefix}-nav-icon-selected-bg;
$nav-icon-color: #{$prefix}-nav-icon-color;

// aside
$aside-bg: #{$prefix}-aside-bg;
$aside-header-icon-bg: #{$prefix}-aside-header-icon-bg;
$aside-header-icon-hover-bg: #{$prefix}-aside-header-icon-hover-bg;

// action icon
$action-icon-color: #{$prefix}-action-icon-color;
$action-icon-bg: #{$prefix}-action-icon-bg;
$action-icon-bg-hover: #{$prefix}-action-icon-bg-hover;

// tip
$tip-color: #{$prefix}-tip-color;

// component checkbox
$checkbox-line-color: #{$prefix}-checkbox-line-color;
$checkbox-hover-line-color: #{$prefix}-checkbox-hover-line-color;
$checkbox-hover-bg: #{$prefix}-checkbox-hover-bg;
$checkbox-checked-bg: #{$prefix}-checkbox-checked-bg;

// component btn
$btn-line-color: #{$prefix}-btn-line-color;
$btn-hover-line-color: #{$prefix}-btn-hover-line-color;

// component session
$session-hover-bg: #{$prefix}-session-hover-bg;
$session-active-bg: #{$prefix}-session-active-bg;
$session-active-title-color: #{$prefix}-session-active-title-color;
$session-desc-color: #{$prefix}-session-desc-color;
$session-active-desc-color: #{$prefix}-session-active-desc-color;

// component inputz
$inputz-label-color: #{$prefix}-inputz-label-color;
$inputz-hover-label-color: #{$prefix}-inputz-hover-label-color;
$inputz-line-color: #{$prefix}-inputz-line-color;
$inputz-hover-line-color: #{$prefix}-inputz-hover-line-color;

// component selectz
$selectz-label-color: #{$prefix}-selectz-label-color;
$selectz-hover-label-color: #{$prefix}-selectz-hover-label-color;
$selectz-line-color: #{$prefix}-selectz-line-color;
$selectz-hover-line-color: #{$prefix}-selectz-hover-line-color;

// component dropdown
$dropdown-hover-bg: #{$prefix}-dropdown-hover-bg;

// component slider
$slider-thumb-bg: #{$prefix}-slider-thumb-bg;

// openai bubble
$bubble-hover-bg: #{$prefix}-bubble-hover-bg;

// markdown
$md-font-family: --md-font-family;
$md-font-size: --md-font-size;
$md-background-color: --md-background-color;
$md-color: --md-color;
$md-a-color: --md-a-color;
$md-mark-background-color: --md-mark-background-color;
$md-mark-color: --md-mark-color;
$md-img-background-color: --md-img-background-color;
$md-hr-background-color: --md-hr-background-color;
$md-placeholder-color: --md-placeholder-color;
$md-line-color: --md-line-color;
$md-outline-line-color: --md-outline-line-color;
$md-kbd-font-family: --md-kbd-font-family;
$md-kbd-font-size: --md-kbd-font-size;
$md-kbd-font-color: --md-kbd-font-color;
$md-kbd-background-color: --md-kbd-background-color;
$md-kbd-line-color: --md-kbd-line-color;
$md-h6-color: --md-h6-color;
$md-blockquote-color: --md-blockquote-color;
$md-blockquote-background-color: --md-blockquote-background-color;
$md-blockquote-line-color: --md-blockquote-line-color;
$md-pre-background-color: --md-pre-background-color;
$md-code-font-family: --md-code-font-family;
$md-code-font-size: --md-code-font-size;
$md-code-background-color: --md-code-background-color;
$md-table-line-color: --md-table-line-color;
$md-table-odd-background-color: --md-table-odd-background-color;
$md-table-even-background-color: --md-table-even-background-color;

$md-pre-language-color: --md-pre-language-color;

$hljs-keyword-color: --hljs-keyword-color-color;
$hljs-title-color: --hljs-title-color;
$hljs-attr-color: --hljs-attr-color;
$hljs-meta-color: --hljs-meta-color;
$hljs-symbol-color: --hljs-symbol-color;
$hljs-code-color: --hljs-code-color;
$hljs-name-color: --hljs-name-color;
$hljs-subst-color: --hljs-subst-color;
$hljs-section-color: --hljs-section-color;
$hljs-bullet-color: --hljs-bullet-color;
$hljs-emphasis-color: --hljs-emphasis-color;
$hljs-strong-color: --hljs-strong-color;
$hljs-addition-color: --hljs-addition-color;
$hljs-addition-background-color: --hljs-addition-background-color;
$hljs-deletion-color: --hljs-deletion-color;
$hljs-deletion-background-color: --hljs-deletion-background-color;
