.btn {
    box-sizing: border-box;
    padding: 4px 8px;
    color: inherit;
    background: transparent;
    border: 1px solid var($btn-line-color);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        border: 1px solid var($btn-hover-line-color);
    }

    &:not(:last-child) {
        margin-right: 10px;
    }
}
