.selectz {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover {
        label {
            color: var($selectz-hover-label-color) !important;
        }

        select {
            border: 1px var($selectz-hover-line-color) solid !important;
        }
    }

    label {
        position: relative;
        top: 0.5rem;
        width: fit-content;
        margin: 0 0 0 7px;
        padding: 0 6px;
        color: var($selectz-label-color);
        font-size: 12px;
        background: var($bg);
        transition: all 0.2s ease-in-out;
    }

    select {
        height: 60px;
        padding: 12px 10px;
        color: inherit;
        font-size: 14px;
        background: transparent;
        border: 1px var($selectz-line-color) solid;
        border-radius: 4px;
        outline: none;
        box-shadow: none;
        transition: all 0.2s ease-in-out;
        -webkit-appearance: none;

        &:focus {
            outline: none;
        }
    }
}
