.tooltip {
    position: relative;

    .tip {
        position: absolute;
        top: 40px;
        left: 50%;
        width: max-content;
        padding: 5px 8px;
        font-size: 14px;
        background: #ffffff;
        border-radius: 5px;
        transform: translate(-50%);
        opacity: 1;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        pointer-events: none;

        &:before {
            content: '';
            position: absolute;
            top: -3px;
            left: 50%;
            width: 8px;
            height: 8px;
            background: #ffffff;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}
