.openai-setting {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 300px;
    padding: 20px;
    overflow-x: hidden;
    border-left: 1px solid var($line-color);

    h3 {
        margin: 0;
        padding: 0;
    }
}
