.inputz {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover {
        label {
            color: var($inputz-hover-label-color) !important;
        }

        input {
            border: 1px var($inputz-hover-line-color) solid !important;
        }
    }

    label {
        position: relative;
        top: 0.5rem;
        width: fit-content;
        margin: 0 0 0 7px;
        padding: 0 6px;
        color: var($inputz-label-color);
        font-size: 12px;
        background: var($bg);
        transition: all 0.2s ease-in-out;
    }

    input {
        padding: 12px 10px;
        color: inherit;
        font-size: 14px;
        background: transparent;
        border: 1px var($inputz-line-color) solid;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;

        &:focus {
            outline: none;
        }
    }
}
